#request-card {
  border: 2px solid  red;
  margin: 10px;
  text-align: center; 
  width: 350px;
}


#title, #author {
  font-weight: bold;
}

#title {
  padding-top: 5px;  
}

#author {
  padding-bottom: 5px;
}

#request-img {
  padding-top: 10px;
}

#remove-btn {
  background-color: purple;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

#remove-btn:hover {
  background-color: red;
}
